<div class="login w-clearfix">
    <div class="card" style="top: 100px;">
      <div class="card-body">
        <div class="tableFixHead">
          <table class="table table-hover header-fixed">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Book ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author Name</th>
                <th scope="col">Date Of Issue</th>
                <th scope="col">Date Of Return</th>
                <th scope="col">Available Status</th>
              </tr>
            </thead>
            <tbody *ngFor = "let bk of MyBook" >
              <tr>
                <td scope="row" style="font-weight: bold;">{{bk.userBook_id}}</td>
                <td >{{bk.book_Name}}</td>
                <td>{{bk.author_Name}}</td>
                <td>{{bk.date_of_Issue | date: 'dd/MM/yyyy'}}</td>
                <td>{{bk.return_Date | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="bk.userBookStatus=='RETURNED'" style="color: green;">{{bk.userBookStatus}}</td>
                <td class="blink" *ngIf="bk.userBookStatus=='YET TO RETURN'" style="color:red">{{bk.userBookStatus}}</td>
                <!-- <div class="list-group">
                  <td><button type="button" class="btn btn-primary" (click)="OnClick(bk.book_id,bk.userBook_id,bk.user_ID,bk.new_Book_Count)">RETURN</button> -->
                    <!-- <small class="form-text text-muted">Available Books : {{bk.new_Book_Count}}</small> -->
                  <!-- </td>
                </div> -->
                <!-- <div class="list-group" *ngIf = "bk.new_Book_Count==0">
                  <td><button type="button" class="btn btn-danger">Occupied</button>
                    <small class="form-text text-muted">All Books are Taken</small>
                  </td>
                </div>
                <div class="list-group" *ngIf = "(bk.new_Book_Count<3 || bk.new_Book_Count==2) && bk.new_Book_Count!=0">
                  <td><button type="button" class="btn btn-warning" (click)="OnClick(bk.book_id)">Limited Books</button>
                    <small class="form-text text-muted">Available Books : {{bk.new_Book_Count}}</small>
                  </td>
                </div> -->
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    