  <main>
    <ngb-carousel >
      <ng-template ngbSlide >
        <div class="picsum-img-wrapper">
          <img src="/assets/Images/Library-b.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Welcome to Bodhi Library</h3>
          <p>Experience the joy of reading</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/Images/image3.jpg"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>“A room without books is like a body without a soul.”</h3>
          <p>― Marcus Tullius Cicero</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/Images/image11.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption" style="color: rgb(246, 246, 250);">
          <h3>“A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.”</h3>
          <p>― William Styron</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/Images/image9.jpg" alt="Random fourth slide">
        </div>
        <div class="carousel-caption">
          <h3>“There are two motives for reading a book; one, that you enjoy it; the other, that you can boast about it.”</h3>
          <p>― Bertrand Russell</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="container">
  
      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <img src="assets/Images/IndexBook.jpg" class="img-fluid z-depth-1-full" alt = "WelcomeBook">
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!-- Main heading -->
            <h3 class="h3 mb-3">Welcome to Bodhi Library</h3>
            <p>This is a Flex corporate Libarary contains the large number of collections on 
              <strong>Technologies , Management , Lean </strong>and so on...</p>
            <p>Please check the below contents in our Library</p>
            <!-- Main heading -->
  
            <hr>
  
            <p>
              <strong>400+</strong> Skill Improvement Books,
              <strong>600+</strong> Novels and Story books,
              <strong>74</strong> Technical and Core Books.
              <strong>Useful for Individual and Career development.</strong>
            </p>
  
            <!-- CTA -->

  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </section>
      <!--Section: Main info-->
  
      <hr class="my-5">
  
      <!--Section: Main features & Quick Start-->
      <section>
  
        <h3 class="h3 text-center mb-5">About Bodhi Library</h3>
  
        <!--Grid row-->
        <div class="row wow fadeIn">
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
  
            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-2x fa-book-reader"></i>
                <!-- <i class="fa fa-code fa-2x indigo-text"></i> -->
              </div>
              <div class="col-10">
                <h5 class="feature-title">User-friendly</h5>
                <p class="grey-text">Easy to borrow and return the book with simplified UI. All the books review was given by Users</p>
              </div>
            </div>
            <!--/First row-->
  
            <div style="height:30px"></div>
  
            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Our Book Shelf</h5>
                <p class="grey-text">We have plenty of Books in different journels. We offer the E-Books with free of Cost.
                </p>
              </div>
            </div>
            <!--/Second row-->
  
            <div style="height:30px"></div>
   
            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Lots of tutorials</h5>
                <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials,
                  which allow you to learn on other technologies as well.</p>
              </div>
            </div>
            <!--/Third row-->
  
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
  
            <p class="h5 text-center mb-4">Watch about Manuscript and their secret</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GO2MSV1LAa0" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->
  
        </div>
        <!--/Grid row-->
  
      </section>
      <!--Section: Main features & Quick Start-->
  
      <hr class="my-5">
  
      <!--Section: Not enough-->
      <section>

       